@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: url('ARIAL.woff') format('woff');
}
.hexagon-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hexagon-wrapper {
    position: relative;
    width: 34rem;
    height: 34rem;
}
.hexagon-bg-ring {
    width: 29.25rem;
    height: 29.25rem;
    border: 20px solid hsla(212, 34%, 56%, 1);
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hexagon {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 12rem; /* adjust to control the size  */
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.2s ease;
}
.hexagon-edge {
    background: hsla(207, 43%, 74%, 1);
    transition: background 0.2s ease, transform 0.2s ease;
}

.hexagon-edge:hover {
    background: linear-gradient(266.36deg, #93C0F5 32.86%, #5B88BE 98.6%);
    scale: 120%;
}

.hexagon-0 {
    background: linear-gradient(180deg, #D6EDFF 0%, rgba(214, 237, 255, 0) 80%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hexagon-1 {
    transform: translate(-101%, -127%);
}
.hexagon-1:hover {
    transform: translate(-92%, -118%);
}
.hexagon-2 {
transform: translate(-152%, -50%);
}
.hexagon-2:hover {
transform: translate(-144%, -42%);
}
.hexagon-3 {
transform: translate(-101%, 27%);
}
.hexagon-3:hover {
transform: translate(-92%, 34%);
}
.hexagon-4 {
transform: translate(1%, 27%);
}
.hexagon-4:hover {
transform: translate(9%, 34%);
}
.hexagon-5 {
transform: translate(52%, -50%);
}
.hexagon-5:hover {
transform: translate(60%, -42%);
}
.hexagon-6 {
transform: translate(1%, -127%);
}
.hexagon-6:hover {
transform: translate(9%, -118%);
}



.hexagon-content {
width: 8.5rem;
}
.hexagon-edge:hover .hexagon-content {
scale: 83%;
width: 9rem;
}
.hexagon-content .hexagon-icon {
    margin: auto;
    width: 44px;
    height: 44px;
    margin-bottom: 6px;
}
.hexagon-edge:hover .hexagon-icon {
width: 32px;
height: 32px;
}
.hexagon .hexagon-title {
    color: hsla(212, 55%, 16%, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 6px;
}
.hexagon .hexagon-desc {
display: none;
color: hsla(0, 0%, 100%, 1);
font-size: 12px;
line-height: 12px;
margin-top: 0;
}
.hexagon:hover .hexagon-desc {
display: block;
}